@model IEnumerable<BDL_WEBAPP.Favorite>


@{
    ViewData["Title"] = "Home Page";
}

<h1>Your favorite players</h1>
<br/>

<link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerLastName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr id="table-row-@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerLastName)
            </td>
            <td>
                <div class="remove-button">
                    <button id="remove-button-@item.Id"
                            data-playerFirstName="@item.PlayerFirstName"
                            data-playerLastName="@item.PlayerLastName"
                            onclick="removeFromList(@item.Id)">Remove from Favorites ❌</button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<script src="~/js/main.js" asp-append-version="true"></script>